extends layout/layout

block meta

  meta(property="og:type" content="website")
  meta(property="og:title" content="Meish*")
  meta(property="og:site_name" content="バーチャルプロフィール登録サービス")
  meta(property="og:url" content="http://www.meish.me/")
  meta(property="og:image" content="https://meish.s3-ap-northeast-1.amazonaws.com/meish_logo_ogp.jpg")
  meta(property="og:locale" content="ja_JP")
  meta(name="twitter:card" content="summary_large_image")

block content
  
  section#TopSection.page-section
    div.text-center
      div(style="height:100px;").logo.mb-4
      h6.m-3 バーチャルプロフィール登録サービス
      .tags.mt-5
        div.m-2
          - var topTag = tags.slice(0,15)
          each tag in topTag
            - var tagLink = "/search?query=" + tag.tagname
            - var tagHue = tag.tagname.charCodeAt(0) % 36 * 10;
            - var tagText = `${tag.tagname}: ${tag.dataValues.count}`
            a(href=tagLink)
              span(style="background-color:hsl("+tagHue+", 50%, 45%);").badge.badge-secondary.p-2.m-1 #{tagText}
          button(onclick="$('.tags').toggle();").badge.badge-secondary.p-2.m-1 
            span ...
      div(style="display:none;").tags
        div.m-2
          each tag in tags.slice(0,300)
            - var tagLink = "/search?query=" + tag.tagname
            - var tagHue = tag.tagname.charCodeAt(0) % 36 * 10;
            - var tagText = `${tag.tagname}: ${tag.dataValues.count}`
            a(href=tagLink)
              span(style="background-color:hsl("+tagHue+", 50%, 45%);").badge.badge-secondary.p-2.m-1 #{tagText}
          button(onclick="$('.tags').toggle();").badge.badge-secondary.p-2.m-1 
            span Close

    div.d-flex.flex-wrap.justify-content-around
      each user in users
        div.m-3
          - var link = `/i/${user.username}`
          a(href=link)
            - var style=`width:200px; height:350px; background-image: url(${user.personality.thumbnail_path}?${user.personality.updatedAt.getTime()});background-color: rgba(255,255,255,0.5); border-radius: 8px; background-size: contain; background-repeat: no-repeat; background-position: center;`
            div(style=style)

    if userCount
      div.text-center
        h6
          small.text-secondary Total #{userCount} characters.