extends layout/layout

block meta

  // OGP & Twitter Card
  meta(property="og:type" content="website")
  meta(property="og:title" content="Meish*")
  meta(property="og:site_name" content="バーチャルプロフィール登録サービス")
  meta(property="og:url" content="http://www.meish.me/")
  meta(property="og:image" content="https://meish.s3-ap-northeast-1.amazonaws.com/meish_logo_ogp.jpg")
  meta(property="og:locale" content="ja_JP")
  meta(name="twitter:card" content="summary_large_image")

  link(rel="stylesheet" href="/css/index.css")

block content

  section#TopSection.page-section
    div.text-center

      // ロゴ
      div(style="height:100px;").logo.mb-4
      h6.m-3 バーチャルキャラクターのためのプロフィール登録サービス

      // タグ
      mixin tag(display)
        each tag in tags.slice(0, display)
          a(href=`/search?query=${tag.tagname}`)
            - var tagText = `${tag.tagname}: ${tag.dataValues.count}`
            // タグによって色変えてる
            span(style=`background-color:hsl(${tag.tagname.charCodeAt(0) % 36 * 10}, 50%, 45%);`).badge.badge-secondary.p-2.m-1 #{tagText}
      div(style=`${ tag_suggest ? "display:none;" : ""}`).tags.mt-5.mb-3
        +tag(15)
        button(onclick="$('.tags').toggle();").badge.badge-secondary.p-2.m-1 
          span ...
      div(style=`${ tag_suggest ? "" : "display:none;"}`).tags.mt-5
        +tag(300)
        if !tag_suggest
          button(onclick="$('.tags').toggle();").badge.badge-secondary.p-2.m-1 
            span Close

    // キャラクター
    if results.length > 0
      div.d-flex.flex-wrap.justify-content-around
        each result in results
          .m-3
            a(href=`/i/${result.username}`)
              .thumbnail_frame.card
                div(style=`background-image: url(${s3+result.thumbnail_path});` class=`${result.isSensitive ? "sensitive sensitive_on" : ""}`).thumbnail.card-img-top

      // 表示制御系ボタン
      .text-center
        if results.length == 30
          a(href="/allusers")
            button.btn.btn-outline-info.m-3 全員見る（重いかも）

        .align-middle.form-check
          input(type="checkbox" name="isSensitive" onclick="$('.sensitive').toggleClass('sensitive_on');")#sensitiveCheck.form-check-input.my-2
          label(for="sensitiveCheck").form-check-label
            span センシティブなキャラクターも見る

    // 登録者数
    if userCount
      div.text-center.mt-5
        h6
          small.text-secondary Total #{userCount} characters.