extends layout/layout

block meta

  // OGP & Twitter Card
  meta(property="og:type" content="website")
  meta(property="og:title" content="Meish*")
  meta(property="og:site_name" content="バーチャルプロフィール登録サービス")
  meta(property="og:url" content="http://www.meish.me/")
  meta(property="og:image" content="https://meish.s3-ap-northeast-1.amazonaws.com/meish_logo_ogp.jpg")
  meta(property="og:locale" content="ja_JP")
  meta(name="twitter:card" content="summary_large_image")

  link(rel="stylesheet" href="/css/index.css")

block content

  section#TopSection.page-section
    div.text-center

      // ロゴ
      div(style="height:100px;").logo.mb-4
      h6.m-3 バーチャルキャラクターのためのプロフィール登録サービス

      // 今週のオススメタグ
      if recommendTag
        h5.mt-4
          b 今週のオススメタグ: 
          a(href=`/search?q="${recommendTag}"`)
            span(style=`background-color:hsl(${recommendTag.charCodeAt(0) % 36 * 10}, 50%, 45%); font-size:0.9rem; position:relative; top:-2px; line-height:inherit;`).badge.badge-secondary.p-2.m-1 #{recommendTag}
        div(style="max-width:1000px;").m-auto
          - recommendUsers = recommendUsers.slice(0, 5)
          div.d-flex.flex-wrap.justify-content-around
            each result in recommendUsers
              .m-3
                a(href=`/i/${result.username}`)
                  div(style="width:160px;height:280px;").thumbnail-frame.card
                    div(style=`background-image: url(${s3+result.thumbnail_path});` class=`${result.isSensitive ? "sensitive sensitive_on" : ""}`).thumbnail.card-img-top

      // タグ
      mixin tag(display)
        .d-flex.flex-wrap.justify-content-center
          each tag in tags.slice(0, display)
            .m-1
              a(href=`/search?q="${tag.tagname}"`)
                - var tagText = `${tag.tagname}: ${tag.dataValues.count}`
                // タグによって色変えてる
                span(style=`background-color:hsl(${tag.tagname.charCodeAt(0) % 36 * 10}, 50%, 45%);`).badge.badge-secondary.p-2 #{tagText}
          block
      div(style=`${ tag_suggest ? "display:none;" : ""}`).tags.mt-4.mb-3
        +tag(15)
          button(onclick="$('.tags').toggle();" style="position:relative; top:-1px;").badge.badge-secondary.p-2.m-1
            span ...
      div(style=`${ tag_suggest ? "" : "display:none;"}`).tags.mt-4
        +tag(300)
          if !tag_suggest
            button(onclick="$('.tags').toggle();" style="position:relative; top:-1px;").badge.badge-secondary.p-2.m-1
              span Close
            
      // キャラクター
      if results && results.length > 0
        - const split = (array, n) => array.reduce((a, c, i) => i % n == 0 ? [...a, [c]] : [...a.slice(0, -1), [...a[a.length - 1], c]], [])
        - var results_box = split(results, 24)
        each results in results_box

          div.d-flex.flex-wrap.justify-content-around
            each result in results
              .m-3
                a(href=`/i/${result.username}`)
                  .thumbnail-frame.card
                    div(style=`background-image: url(${s3+result.thumbnail_path});` class=`${result.isSensitive ? "sensitive sensitive_on" : ""}`).thumbnail.card-img-top.lozad

          .m-auto
            script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
            ins(class="adsbygoogle"
              style="display:block"
              data-ad-format="fluid"
              data-ad-layout-key="-gc+3r+68-9q-29"
              data-ad-client="ca-pub-8262966340736688"
              data-ad-slot="6887497235")
            script.
              (adsbygoogle = window.adsbygoogle || []).push({});
          
      // 表示制御系ボタン
      .text-center
        if results.length == 24
          a(href="/allusers")
            button.btn.btn-outline-info.m-3 全員見る（重いかも）

        .align-middle.form-check
          input(type="checkbox" name="isSensitive" onclick="$('.sensitive').toggleClass('sensitive_on');")#sensitiveCheck.form-check-input.my-2
          label(for="sensitiveCheck").form-check-label
            span センシティブなキャラクターも見る

      // 登録者数
      if userCount
        h6.mt-5
          small.text-secondary Total #{userCount} characters.