doctype html
html
  head
    title Meish* バーチャルプロフィール共有サービス

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1,  shrink-to-fit=no")
    link(href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet")
    link(rel="stylesheet",
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
    crossorigin="anonymous")
    link(rel="stylesheet" href="/css/css.css")
    if !(mode == "edit")
      link(rel="stylesheet" href="/css/notme.css")

    meta(name="msapplication-square70x70logo" content="/favicons/site-tile-70x70.png")
    meta(name="msapplication-square150x150logo" content="/favicons/site-tile-150x150.png")
    meta(name="msapplication-wide310x150logo" content="/favicons/site-tile-310x150.png")
    meta(name="msapplication-square310x310logo" content="/favicons/site-tile-310x310.png")
    meta(name="msapplication-TileColor" content="#0078d7")
    link(rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicons/favicon.ico")
    link(rel="icon" type="image/vnd.microsoft.icon" href="/favicons/favicon.ico")
    link(rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="36x36" href="/favicons/android-chrome-36x36.png")
    link(rel="icon" type="image/png" sizes="48x48" href="/favicons/android-chrome-48x48.png")
    link(rel="icon" type="image/png" sizes="72x72" href="/favicons/android-chrome-72x72.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/favicons/android-chrome-96x96.png")
    link(rel="icon" type="image/png" sizes="128x128" href="/favicons/android-chrome-128x128.png")
    link(rel="icon" type="image/png" sizes="144x144" href="/favicons/android-chrome-144x144.png")
    link(rel="icon" type="image/png" sizes="152x152" href="/favicons/android-chrome-152x152.png")
    link(rel="icon" type="image/png" sizes="192x192" href="/favicons/android-chrome-192x192.png")
    link(rel="icon" type="image/png" sizes="256x256" href="/favicons/android-chrome-256x256.png")
    link(rel="icon" type="image/png" sizes="384x384" href="/favicons/android-chrome-384x384.png")
    link(rel="icon" type="image/png" sizes="512x512" href="/favicons/android-chrome-512x512.png")
    link(rel="icon" type="image/png" sizes="36x36" href="/favicons/icon-36x36.png")
    link(rel="icon" type="image/png" sizes="48x48" href="/favicons/icon-48x48.png")
    link(rel="icon" type="image/png" sizes="72x72" href="/favicons/icon-72x72.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/favicons/icon-96x96.png")
    link(rel="icon" type="image/png" sizes="128x128" href="/favicons/icon-128x128.png")
    link(rel="icon" type="image/png" sizes="144x144" href="/favicons/icon-144x144.png")
    link(rel="icon" type="image/png" sizes="152x152" href="/favicons/icon-152x152.png")
    link(rel="icon" type="image/png" sizes="160x160" href="/favicons/icon-160x160.png")
    link(rel="icon" type="image/png" sizes="192x192" href="/favicons/icon-192x192.png")
    link(rel="icon" type="image/png" sizes="196x196" href="/favicons/icon-196x196.png")
    link(rel="icon" type="image/png" sizes="256x256" href="/favicons/icon-256x256.png")
    link(rel="icon" type="image/png" sizes="384x384" href="/favicons/icon-384x384.png")
    link(rel="icon" type="image/png" sizes="512x512" href="/favicons/icon-512x512.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicons/icon-16x16.png")
    link(rel="icon" type="image/png" sizes="24x24" href="/favicons/icon-24x24.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicons/icon-32x32.png")
    link(rel="manifest" href="/manifest.json")
  
  body#page-top
    block header
      include header.pug

    block content

    block footer
      include footer.pug
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js", 
    integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm", 
    crossorigin="anonymous")
    script(src="/javascripts/bundle.js")
    script.
      $('[data-toggle="tooltip"]').tooltip();